<div class="row">
<h2>All Actors</h2>
<% @actors.each do |actor|  %>
<div class="col s12 m12 l3">
  <div class="z-depth-1">
    <center>
    <h3><%= link_to actor.name, actor_path(actor) %></h3>
  </center>
  </div>
</div>
<% end %>
</div>
