<div class="row">
  <div class="col s2 m4 l4">
    <h3><%= @director.name %></h3></div>
  <div class="col s2 m4 l4">
    <h4>Director</h4>

    <div class="jumbotron" style="height: auto;">
      <% @movies.each do |movie|  %>

      <div class="z-depth-1">
        <h3 style="background-color: #fff; color: #006064;">
          <%= movie.name %></h3>
      </div>
      <% end %></div>
  </div>
  <div class="col s2 m4 l4">
    <h4>Actor</h4>
  </div>
</div>
